.book-table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
  }
  
  .book-table th,
  .book-table td {
    padding: 10px;
    border: 2px solid #10181e;
  }
  
  .book-table th {
    background-color: #1d1445;
    color: white;
    text-align: left;
  }
  
  @media screen {
    .book-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }